<!DOCTYPE html>
{% spaceless %}
    <html>
        <head>
            <meta charset="utf-8">

            <title>{% block title %}QCM ENI{% endblock %}</title>

            {% block css %}
                <link href="{{ asset('bootstrap/css/bootstrap.css') }}" media="all" rel="stylesheet" type="text/css" />
                <link href="{{ asset('css/main.css') }}" media="all" rel="stylesheet" type="text/css" />
            {% endblock %}

            {% block js %}
                <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
                <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% endblock %}
        </head>
        <body>
            <div id="body">
                {% block body %}
                    <div id="banniere">
                        {% block banniere %}
                        {% endblock %}
                    </div>
                    <div id="contenu">
                        {% block contenu %}
                        {% endblock %}
                    </div>
                    <div id="footer">
                        {% block footer %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </body>
    </html>
{% endspaceless %}